<!doctype html>
<html>
  <head>
  	<title>编辑页</title>
  	<link rel="stylesheet" type="text/css" href="edit.css">
    <link rel="stylesheet" type="text/css" href="common.css">
  </head>
  <body>
  	<header>
      <div>
        <a href= "#">ChenHui5416_Blog</a>
        <a href= "#" class= "resumeicon" title='个人简历，待加入'><span class='icon'></span></a>
        <input placeholder= "search" id= "search" type= "text">
      </div>
    </header>
  	<section>
      <aside id="textlist">
        <div>
          <h4>文章列表</h4>
          <div id="prelist">
          </div>
        </div>
        <div id="delelist">
        </div>
      </aside>
      <article>
        <form method="POST" action="/editpost" id="editform" enctype="multipart/form-data" >
          <p>
            <label for="texttype">归类:</label>
            <input type="text" name="texttype">
            <label for="textname">文章名字:</label>
            <input type="text" name="textname">
          </p>
          <p>
            <label for="zhaiyao">摘要:</label>
          </p>
          <p>
            <textarea name="zhaiyao" rows="3"></textarea>
          </p>
          <p>
            <label for="textcon">内容:</label>
          </p>
          <p>
            <textarea name="textcon" rows="35"></textarea>
          </p>
          <p>
          </p>
          <input class="btn" type="submit" value="发布">
        </form>
        <form method="POST" action="/image" id="imageform" enctype="multipart/form-data">
          <input type="file" name="img" id="imageinput">
          <input type="submit" class="btn" value="上传图片" name="tt">
        </form>
      </article>
  	</section>
    <script type="text/javascript" src="./js/edithandler.js"></script>
  </body>
</html>