<!doctype html>
<html>
  <head>
  	<title>编辑页</title>
    <link rel="stylesheet" type="text/css" href="common.css">
  	<link rel="stylesheet" type="text/css" href="edit.css">
  </head>
  <body>
  	<header>
      <a href="#">BLOG——LANCE</a>
      <input placeholder="search" id="search" type="text">
    </header>
  	<section>
      <aside id="textlist">
        <div>
          <h4>文章列表</h4>
          <div id="prelist">
          </div>
        </div>
        <div id="delelist">
        </div>
      </aside>
      <article>
        <form method="POST" action="/editpost" id="editform">
          <p>
            <label for="texttype">归类:</label>
            <input type="text" name="texttype">
            <label for="textname">文章名字:</label>
            <input type="text" name="textname">
          </p>
          <p>
            <label for="zhaiyao">摘要:</label>
          </p>
          <p>
            <textarea name="zhaiyao" rows="3"></textarea>
          </p>
          <p>
            <label for="textcon">内容:</label>
          </p>
          <p>
            <textarea name="textcon" rows="35"></textarea>
          </p>
          <input class="btn" type="submit" value="发布">
        </form>
      </article>
  	</section>
    <script type="text/javascript" src="edithandler.js"></script>
  </body>
</html>