<!doctype html>
<html>
  <head>
    <title>前端|JS、CSS、HTML|分享</title>
    <meta charset= "utf-8">
  	<meta name= "keywords" content="chenhui5416, chenhui5416博客, 前端, javascript, JS, CSS">
    <meta name="description" content="chenhui5416的博客">
    <meta name="robots" content="all">
    <link rel= "stylesheet" type= "text/css" href= "main.css">
    <link rel= "stylesheet" type= "text/css" href= "common.css">
  	<link rel= "stylesheet" type= "text/css" href= "blog.css">
  	<script type= "text/javascript" src= "./js/main.js"></script>
  </head>
  <body>
  	<header>
      <a href= "#">ChenHui5416_Blog</a>
      <input placeholder= "search" id= "search" type= "text">
    </header>
    <section class="main">
    	<section id= "maincon"></section>
      <aside>
        <section>
          <header>About</header>
          <article id= "author"></article>
          <article><a href= "#!/blog/1399043692999">关于本站</a></article>
          <article>你是本站第
            <!--这个是用gostats进行统计，可能不准，不过很方便，请自行注册，替换下面的代码-->
            <!--
            <a style="display: inline" target="_blank" title="计数" href="http://gostats.cn">
              <img alt="计数" src="http://monster.gostats.  cn/bin/count/a_471688/t_7/i_3/z_0/show_hits/counter.png" style="border-width:0" />
            </a>
            -->
            访客
          </article>
        </section>
        <section id="blogclassify">
          <header>文章分类</header>
        </section>
      </aside>
      <nav>
        <ul id="pagelist"></ul>
      </nav>
      <section id="comments">
      </section>
    </section>
    <aside id="animate"></aside>
    <footer>
      © 2014 chenhui5416 | contact
      <a href="http://weibo.com/u/1761093415/home?wvr=5">
        <img src="./img/weibo_logo.png">
      </a></footer>
    <script type= "text/javascript" src= "./js/test.js"></script>
  	<script type= "text/javascript" src= "./js/showdown.js"></script>
  </body>
</html>