<!doctype html>
<html>
  <head>
    <title>前端|JS、CSS、HTML|分享</title>
  	<meta charset= "utf-8">
    <link rel= "stylesheet" type= "text/css" href= "main.css">
    <link rel= "stylesheet" type= "text/css" href= "common.css">
  	<link rel= "stylesheet" type= "text/css" href= "blog.css">
  	<script type= "text/javascript" src= "main.js"></script>
  </head>
  <body>
  	<header>
      <a href= "#">BLOG——LANCE</a>
      <input placeholder= "search" id= "search" type= "text">
    </header>
  	<section id= "maincon">
  
  	</section>
    <aside>
      <section>
        <header>About</header>
        <article id= "author"></article>
        <article><a href= "#/blog/a">关于本站</a></article>
        <article>你是本站第
          <!--这个是用gostats进行统计，可能不准，不过很方便，请自行注册，替换下面的代码-->
   <!--        <a style="display: inline" target="_blank" title="计数" href="http://gostats.cn">
            <img alt="计数" src="http://monster.gostats.cn/bin/count/a_471688/t_7/i_3/z_0/show_hits/counter.png" 
style="border-width:0" /> -->
          </a>访客
        </article>
      </section>
      <section>
        <header>文章分类</header>
        <article><a href= "#">待开发</a></article>

      </section>
    </aside>
    <nav>
      <ul id= "pagelist">
 
      </ul>
    </nav>
    <script type= "text/javascript" src= "test.js"></script>
  	<script type= "text/javascript" src= "showdown.js"></script>
  </body>
</html>