<!doctype html>
<html>
  <head>
  	<title>登录页</title>
    <link rel="stylesheet" type="text/css" href="common.css">
  	<link rel="stylesheet" type="text/css" href="login.css">
  </head>
  <body>
  	<header>
      <a href="#">BLOG——LANCE</a>
      <input placeholder="search" id="search" type="text">
    </header>
  	<section>
      <form method="POST" action="/login">
        <fieldset>
          <legend>blog管理员私有登录界面</legend>
          <p>
            <label>Username:</label>
            <input type="text" name="username">
          </p>
          <p>
            <label>Password:</label>
            <input type="text" name="password">
          </p>
          <p>
            <input class="btn" type="submit" value="Login">
          </p>
        </fieldset>

      </form>
  	</section>
  </body>
</html>