<!doctype html>
<html>
  <head>
  	<title>飞天小猪</title>
  	<link rel="stylesheet" type="text/css" href="login.css">
  </head>
  <body>
  	<header>
      <a href="#">飞天小猪猪</a>
      <input placeholder="search" id="search" type="text">
    </header>
  	<section>
      <form method="POST" action="/login">
        <fieldset>
          <legend>blog管理员私有登录界面</legend>
          <p>
            <label>Username:</label>
            <input type="text" name="username">
          </p>
          <p>
            <label>Password:</label>
            <input type="text" name="password">
          </p>
          <p>
            <input type="submit" value="Login">
          </p>
        </fieldset>

      </form>
  	</section>
  </body>
</html>