body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #eee;
    font-family: Georgia, 'Nimbus Roman No9 L', 'Liberation Serif', serif;
    word-break: break-all;
}
body>header {
	background-color: #373b44;
	height: 50px;
	padding: 10px 20px;	
	color: white;
	font-size: 2em;
	font-size: 2rem;
	font-weight: bold;
}
body>header>a {
	color: inherit;
	text-decoration: none;
	display: inline;
}
body>header>a:hover {
	color: #00b4d9;
}
#search {
	display: inline-block;
	float: right;
	margin-top: 0.5em;
	margin-left: 0.2em;
	width: 7em;
	width: 7rem;
	border: 1px solid yellow;
	padding-left: 0.1em;
	border-radius:5px;
	line-height: 1.4em;
	line-height: 1.4rem;
	color: grey;
	-webkit-transition: width 1s;
	-o-transition: width 1s;
	-ms-transition: width 1s;
	-moz-transition: width 1s;
	transition: width 1s;
}
#search:focus {
	width: 12em;
	width: 12rem;
}
.btn {
    background-color: #00a5c5;
    color: white;
    height: 30px;
    width: 80px;
    border: 2px solid #00A1C2;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #000000;
    font-weight: bold;
}
.btn:hover {
    background-color: #05D6FF;
}
footer {
	/*注意有个地方需要处理，不然某页内blog数比较少时就会不美观的问题*/
	margin-top: 30px;
	height: 30px;
	background-color: #373b44;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	color: #ffffff;
}
footer>a {
	display: inline;
	margin-left: 10px;
}
footer>a:hover {
	color: #05D6FF;
