body{
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #e5e5e5;
}
body>header{
	background-color: #00a5c5;;
	padding: 10px 20px;	
	color: white;
	font-size: 1.6em;
	font-size: 1.6rem;
	font-weight: bold;
}
body>header>a{
	color: inherit;
	text-decoration:none;
	display: inline;
}
#search{
	display: inline-block;
	float: right;
	margin-left: 0.2em;
	margin-left: 0.2rem;
	width: 7em;
	width: 7rem;
	border: 1px solid yellow;
	padding-left: 0.1em;
	border-radius:5px;
	line-height: 1.4em;
	line-height: 1.4rem;
	color: grey;
	-webkit-transition: width 1s;
	-o-transition: width 1s;
	-ms-transition: width 1s;
	-moz-transition: width 1s;
	transition: width 1s;
}
#search:focus{
	width: 12em;
	width: 12rem;
}
body>section{
	margin:20px;
}
body>section>aside{
	width: 20%;
	float: left;
	margin-left: 3%; 
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 5px
}
body>section>article{
	width: 65%;
	float: left;
	margin-left: 3%; 
	padding: 5px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
#editform{
	padding: 10px;
	line-height: 16px;
	font-size: 14px;
}
#editform label{
	font-weight: bold;
	font-size: 16px;
}
#editform textarea{
	width: 80%;
	resize: vertical;
}
input[type='submit']{
    background-color: #00a5c5;
    color: white;
    height: 30px;
    width: 80px;
    border: 2px solid #00A1C2;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #000000;
    font-weight: bold;
}
input[type='submit']:hover{
    background-color: #05D6FF;
}