body>section {
	margin: 20px auto;
	width: 80%;
	max-width: 1080px;
}
body>section>aside {
	width: 30%;
	float: left;
	margin-right: 2%; 
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 5px
}
body>section>article {
	width: 65%;
	float: left;
	padding: 5px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	padding-bottom: 15px;
}
#editform {
	padding: 10px;
	line-height: 16px;
	font-size: 14px;
}
#editform label {
	font-weight: bold;
	font-size: 16px;
}
#editform textarea {
	width: 100%;
	resize: vertical;
}
#prelist ul {
	font-size: 1.6em;
	list-style-type: none;
	padding-left: 15px; 
	color: #00a5c5;
}
#prelist li {
	margin-bottom: 10px;
	text-decoration: underline;
	cursor: pointer;
}
#prelist li:hover {
	color: #aaa5c5;
}
#imageform {
	padding-top: 10px;
	border-top: 2px solid #eeeeee;
}

