body>section{
	margin:20px;
}
body>section>aside{
	width: 20%;
	float: left;
	margin-left: 3%; 
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 5px
}
body>section>article{
	width: 65%;
	float: left;
	margin-left: 3%; 
	padding: 5px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
#editform{
	padding: 10px;
	line-height: 16px;
	font-size: 14px;
}
#editform label{
	font-weight: bold;
	font-size: 16px;
}
#editform textarea{
	width: 80%;
	resize: vertical;
}
