#maincon{
	float: left;
	width: 63%;
	max-width: 700px;
	margin: 40px 5% 10px 0;
}

.blognav{
	margin-bottom: 40px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.blognav{
	padding: 1em;
	color: #555555;
}
.blognav_bottom{
	font-size: 14px;
	font-size: 1.4rem;
	color: #ffffff;
	padding: 5px 15px;
	margin: 0 -1.2em -1em -1.2em;
	background: #00b4d9;
}
.blognav_bottom span:last-child{
	float: right;
}
.blognav_bottom a{
	display: inline;
}
.blognav_bottom a:hover{
	color: #222222;
}
.blognav>header>a{
	font-size: 1.8em;
	font-size: 1.8rem;
	font-weight: bold;
	color: #00b4d9;
	text-decoration: none;
}
.blognav>header>a:hover{
	color: #373b44;
}
.blognav {
	font-size: 1.2em;
	font-size: 1.2rem;
}
.main>nav{
	clear: both;
	width: 63%;
	height: 40px;
	margin: 20px 5% 10px 0;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	font-size: 2.0em;
}
.main>nav ul{
	/*display: inline-block;*/
	padding: 10px;
	margin: 6px 10px;
	vertical-align: middle;
}
.main>nav li{
	width: 1.6em;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	color: white;
	text-align: center;
	background: #00a5c5;
	padding: 2px;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	float: left;
	list-style-type: none;
}
.main>nav li:hover{
	background-color: #eeeeee;
	cursor: pointer;
	color: black;
}
.main>nav li:first-child{
	width: 2em;
}
.main>nav li:first-child.pagenav{
	width: 48%;
}
.main>nav li:last-child{
	width: 2em;
}
.main>nav li:last-child.pagenav{
	width: 48%;
}
.main{
	width: 80%;
	margin: 0 auto;
}
.main>aside{
	width: 27%;
	float: left;
	background-color: white;
	margin: 40px 0% 1em 0%;
	padding: 1em;
	padding: 1rem;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.main>aside>section{
	margin-bottom: 15px;
}
.main>aside>section>header{
	font-size: 2.4em;
	font-weight: bold;
	color: #555;
}
.main>aside>section>article{
	color: #555;
	font-size: 2.0em;
	margin-top: 5px;
	margin-left: 15px;
}
a{
	color: inherit;
	text-decoration: none;
	display: block;
}
#author ul{
	list-style-type: none;
	padding: 0px;
	color: #555;
}
#author a{
	display: inline;
}

.blog_classify_nav{
	margin: 5px 0px 0px 15px;
}
.blog_classify_nav>header{
	font-size: 2.0em;
	cursor: pointer;
}
.blog_classify_nav:hover>header{
	color: #00b4d9;
}
.blog_classify_nav>ul{
	display: none;
	list-style-type: none;
	padding: 0px 10px;
	font-size: 1.5em;
}
.blog_classify_nav:hover ul{
	display: block;
}
.blog_classify_nav li{
	margin-bottom: 10px;
}
.blog_classify_nav li:hover{
	color: #00b4d9;
	cursor: pointer;
}
.blog_classify_nav li:hover::after{
	content: "GO";
	margin-left: 10px;
	font-weight: bold;
	font-size: 0.8em;
	color: red;

}
.blog_classify_nav li>a{
	display: inline-block;
}

@media screen and (max-width: 900px){
	#maincon{
		width: 100%;
	}
	.main>aside{
		width: 100%;
	}
	.main>nav{
		width: 100%
	}
}